<!doctype html>
    <html lang="fr">
        <head>
            <meta charset="utf-8">
            <meta name="Connexion"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="{{ url_for('static',filename='../static/css/connexion.css')}}">
            <title>Connection</title>
        </head>
        <body>
            <header>

            </header>
            <main>
                <div class="Email">
                    <p>Email</p>
                    <input type="text" name="Email" id="Email" placeholder="Email">
                </div>
                <div class="Password">
                    <p>Password</p>
                    <input type="text" name="Password" id="Password" placeholder="Password">
                </div>
                <div class="Button">
                    <button type="submit">Connection</button>
                </div>
            </main>
        </body>