<footer> 
    <div class="footer_div">
        <p class="footer_texte"> SDIS 45 : 195 rue de la Gourdonnerie 45404 Fleury-les-Aubrais Cede </p>
        <p class="footer_texte">
        <span> 
        <a href="tel:0238523523" class="footer_lien">02 38 52 35 23
        <a href="https://twitter.com/sdis45" class="footer_lien">-Twitter</a>
        <a href="https://www.facebook.com/SDIS45/" class="footer_lien">-Facebook</a>
        <a href="https://www.youtube.com/channel/UCeM0wU8qFbMnYg218bnzpjQ" class="footer_lien">-Youtube</a>
        <a href="https://www.instagram.com/pompiers_loiret/?hl=fr" class="footer_lien">-Insta</a>
        </span>
        </p>
    </div>
</footer>