{% extends 'base.html' %}

{% block title %}Reinitialisation2{% endblock %}

{% block head %}
<!-- import js link -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>

<!-- import css link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- personalized js -->
<script type="module" src="{{ url_for('static', filename='js/password_reset.js') }}"></script>

<!-- crsf token -->
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center" style="height: 75vh;">
    <div class="row justify-content-center w-100">
        <div class="col-md-6 shadow-lg p-5 bg-secondary rounded">
            <h2 class="text-center">Réinitialisation du mot de passe</h2>
            <form method="POST" action="{{ url_for('password_reset.reinitialisation', hash_user_uuid=hash_user_uuid) }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    <div class="d-flex align-items-center justify-content-center">
                        {{ form.password(class="form-control", id="password") }}
                        <span toggle="#password" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="font-size: 1.5rem; padding-left: 1vw; cursor: pointer;"></span>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    <div class="d-flex align-items-center justify-content-center">
                        {{ form.confirm_password(class="form-control", id="confirm-password") }}
                        <span toggle="#confirm-password" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="font-size: 1.5rem; padding-left: 1vw; cursor: pointer;"></span>
                    </div>
                </div>
                <p class="text-muted">Un email de confirmation vous sera envoyé.</p>
                <div class="form-group text-center">
                    <input type="submit" value="Valider" class="btn btn-primary">
                </div>
            </form>
            {% for error in form.confirm_password.errors %}
                <div class="alert alert-dismissible alert-info mt-4">
                    {{ error }}
                </div>
            {% endfor %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible mt-4">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

