{% extends 'base.html' %}

{% block title %}Administration{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"></script>
<script type="module" src="{{ url_for('static', filename='js/administration.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/preview.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/preview.css') }}">
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mammoth@1.4.8/mammoth.browser.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/css/bootstrap5-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.0.4/js/bootstrap5-toggle.ecmas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="current-user" content="{{ current_user.id_Utilisateur }}">
{% endblock %}

{% macro render_folder(folder) %}
<div id="folder" data-folder="{{ folder.id_Dossier }}" class="accordion-item folder-{{ folder.id_Dossier }}"
    style="background-color: {{ folder.couleur_Dossier }}; border: 1px solid black;"
    data-name="{{ folder.nom_Dossier }}" {% if folder.DOSSIER[0] %}data-parent="{{ folder.DOSSIER[0].id_Dossier }}" {%
    else %}data-parent="0" {% endif %} data-color="{{ folder.couleur_Dossier }}"
    data-roles="{% for role in folder.ROLE %}{{ role.id_Role }}{% if not loop.last %},{% endif %}{% endfor %}"
    data-priority="{{ folder.priorite_Dossier }}">
    <h2 class="accordion-header" id="heading{{ folder.id_Dossier }}">
        <button class="accordion-button collapsed" type="button" aria-expanded="false"
            aria-controls="collapse{{ folder.id_Dossier }}" style="background-color: {{ folder.couleur_Dossier }};"
            data-trigger-accordion="">
            <div class="d-flex w-100 align-items-center justify-content-between" data-trigger-accordion="">
                <div class="me-2 d-flex align-items-center" data-trigger-accordion="">
                    <div class="d-flex" data-trigger-accordion="">
                        <div class="me-2" data-trigger-accordion="">
                            <i class="fas fa-folder" data-trigger-accordion=""></i>
                        </div>
                        <div data-trigger-accordion="">
                            {{ folder.nom_Dossier }}
                        </div>
                    </div>
                    <div class="d-flex me-2" style="margin-left: 1rem;" data-trigger-accordion="">
                        <div class="me-2" data-trigger-accordion="">
                            <i class="fas fa-file" data-trigger-accordion=""></i>
                        </div>
                        <div data-trigger-accordion="">
                            <span id="fileCount" data-trigger-accordion="">{{ folder.FICHIER|length }}</span> <span
                                id="folderFileCount" data-trigger-accordion="">({{ get_total_file_count(folder)
                                }})</span>
                        </div>
                    </div>
                    <div class="d-flex me-2" style="margin-left: 1rem;">
                        <input data-folder="{{ folder.id_Dossier }}" type="text" id="fileSearch"
                            placeholder="Rechercher dans le classeur" class="form-control"
                            style="border-radius: 50px; padding: 5px 10px;">
                    </div>
                </div>
                <div class="me-2">
                    <form method="POST" enctype="multipart/form-data">
                        <label title="Importer un/plusieurs fichier(s)" for="file{{ folder.id_Dossier }}"
                            class="btn btn-dark"><i class="fa-solid fa-cloud-upload"></i><span> fichier(s)</span>
                            <input type="file" name="file" id="file{{ folder.id_Dossier }}" style="display: none;"
                                multiple class="file-input" data-folder="{{ folder.id_Dossier }}">
                        </label>
                        <label title="Importer un dossier" for="folder{{ folder.id_Dossier }}" class="btn btn-dark"><i
                                class="fa-solid fa-cloud-upload"></i><span> dossier</span>
                            <input type="file" name="folder" id="folder{{ folder.id_Dossier }}" style="display: none;"
                                multiple webkitdirectory class="file-input" data-folder="{{ folder.id_Dossier }}">
                        </label>
                    </form>
                </div>
                <div class="me-2">
                    <input type="checkbox" class="me-2 folder-checkbox" style="cursor: pointer; transform: scale(1.5);"
                        data-folder="{{ folder.id_Dossier }}">
                </div>
            </div>
        </button>
    </h2>
    <div id="collapse{{ folder.id_Dossier }}" class="accordion-collapse collapse"
        aria-labelledby="heading{{ folder.id_Dossier }}" data-bs-parent="#accordion{{ folder.id_Dossier }}">
        <div class="accordion-body">
            <div class="accordion" id="subfoldersAccordion{{ folder.id_Dossier }}">
                {% for sub_folder in folder.DOSSIER_ %}
                {{ render_folder(sub_folder) }}
                {% endfor %}
            </div>
            <div class="accordion mt-2 pt-2  filesContainer" id="filesAccordion{{ folder.id_Dossier }}"
                style="height: 50vh; overflow: auto;">
                {% for file in folder.FICHIER %}
                <div class="card mt-1 mb-1 me-2 file" id="file-{{ file.id_Fichier }}">
                    <div class="card-body text-wrap">
                        <div class="d-flex me-2 w-100 justify-content-between align-items-baseline"
                            style="cursor: pointer;">
                            <div class="me-2 d-flex" style="flex-basis: -moz-available;" id="file"
                                data-file="{{ file.id_Fichier }}" data-folder="{{ folder.id_Dossier }}"
                                data-type="{{ file.extension_Fichier }}" data-filename="{{ file.nom_Fichier }}">
                                <div class="me-2">
                                    <i class="fas fa-file"></i>
                                </div>
                                <div>
                                    <p class="mb-0"
                                        title="Auteur: {{ file.AUTEUR.prenom_Utilisateur }} {{ file.AUTEUR.nom_Utilisateur }}&#013;Date: {{ file.date_Fichier.strftime('%H:%M le %d/%m/%Y') }}">
                                        {{ file.nom_Fichier }}
                                    </p>
                                </div>
                            </div>
                            <div class="me-2 d-flex">
                                <input type="checkbox" class="me-2 file-checkbox"
                                    style="cursor: pointer; transform: scale(1.5);" data-file="{{ file.id_Fichier }}"
                                    data-folder="{{ folder.id_Dossier }}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_user(user) %}
<div class="card mt-2 user" id="user-{{ user.id_Utilisateur }}" data-firstname="{{ user.prenom_Utilisateur }}"
    data-lastname="{{ user.nom_Utilisateur }}" data-email="{{ user.email_Utilisateur }}">
    <div class="card-body d-flex align-items-center">
        <h5 class="card-title flex-grow-1 mb-0">{{ user.prenom_Utilisateur }} {{ user.nom_Utilisateur }}</h5>
        <div class="me-2 d-flex align-items-center align-self-center">
            <select id="role-select-{{ user.id_Utilisateur }}" class="form-select role-select"
                style="margin-right: 0.5rem;" data-user="{{ user.id_Utilisateur }}">
                {% for role in roles %}
                {% if role.id_Role == user.id_Role %}
                <option value="{{ role.id_Role }}" selected>{{ role.nom_Role }}</option>
                {% else %}
                <option value="{{ role.id_Role }}">{{ role.nom_Role }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="me-2">
            <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                data-onlabel="Actif" data-offlabel="Inactif" class="status-toggle" data-user="{{ user.id_Utilisateur }}"
                id="status-toggle-{{ user.id_Utilisateur }}" {% if user.est_Actif_Utilisateur %}checked{% endif %}>
        </div>
        <button class="btn btn-danger delete-user-button" data-user="{{ user.id_Utilisateur }}"><i
                class="fas fa-trash"></i> Supprimer</button>
    </div>
</div>
{% endmacro %}

{% macro render_link(link) %}
<div class="col-4 link" id="link-{{ link.id_Lien }}" data-name="{{ link.nom_Lien }}"
    data-description="{{ link.description_Lien }}">
    <a href="{{ link.lien_Lien }}" class="text-decoration-none text-dark" target="_blank"
        title="{{ link.description_Lien }}">
        <div class="card border-warning position-relative">
            <button type="button" class="btn btn-danger position-absolute top-0 end-0" id="deleteLinkButton"
                data-link="{{ link.id_Lien }}" style="transform: scale(0.8);">✖</button>
            <div class="card-header bg-secondary"
                style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                {{ link.nom_Lien }}
            </div>
            <div class="card-body bg-light small"
                style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                {{ link.description_Lien }}
            </div>
            <div class="card-footer bg-secondary">
                <div class="row">
                    <div class="col text-start text-muted" style="font-size: 0.75rem;">
                        {{ link.UTILISATEUR.prenom_Utilisateur }} {{ link.UTILISATEUR.nom_Utilisateur }}
                    </div>
                    <div class="col text-end text-muted" style="font-size: 0.75rem;">
                        Le {{ link.date_Lien.strftime('%Y-%m-%d %H:%M') }}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{% endmacro %}

{% block content %}
<h1 class="text-center mb-5">Administration</h1>
<div class="container-fluid" style="margin: unset;">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h3 class="text-center">Gestion des fichiers</h3>
            <div class="text-end">
                <button class="btn btn-link text-decoration-none p-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWorkers" aria-expanded="false" title="Afficher les workers"
                    style="cursor: pointer;">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div class="collapse" id="collapseWorkers">
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-lg-4">
                            <h5 class="mb-0">Worker #1</h5>
                            <table class="table table-striped" id="workerStatusTable1">
                                <thead>
                                    <tr>
                                        <th scope="col">Fichiers en cours de traitement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>En attente</td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="mb-0">Worker #2</h5>
                            <table class="table table-striped" id="workerStatusTable2">
                                <thead>
                                    <tr>
                                        <th scope="col">Fichiers en cours de traitement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>En attente</td>
                                </tbody>
                            </table>
                        </div>
                        <div class="col d-flex flex-column justify-content-evenly">
                            <p class="mb-0">Suivant : <span id="nextFile">Aucun fichier en attente</span></p>
                            <p class="mb-0">Traités : <span id="totalFilesProcessed">0</span>/<span
                                    id="totalFiles">0</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <p class="mb-1 text-muted flex-shrink-0 me-3">Progression du téléversement :</p>
                <div class="progress text-center flex-grow-1">
                    <div class="progress-bar progress-bar-striped text-center" role="progressbar" style="width:0%;"
                        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="accordion mb-5" id="foldersAccordion">
                {% for folder in folders %}
                {{ render_folder(folder) }}
                {% endfor %}
                {% if current_user.id_Role == 1 or current_user.id_Role == 2 %}
                <div class="text-end">
                    <button class="position-relative btn btn-primary mt-2" data-bs-toggle="modal"
                        data-bs-target="#createFolderModal">Créer un classeur</button>
                    <button class="position-relative btn btn-primary mt-2" data-bs-toggle="modal"
                        data-bs-target="#modifyFolderModal">Modifier un classeur</button>
                    <button class="position-relative btn btn-danger mt-2" data-bs-toggle="modal"
                        data-bs-target="#deleteFolderModal">Supprimer un classeur</button>
                </div>
                {% endif %}
            </div>
            <h3 class="text-center">Gestion des liens</h3>
            <input type="text" id="searchLink" class="form-control mb-1" placeholder="Rechercher un lien"
                style="border-radius: 50px; padding: 5px 10px; width: 25%; float: left; margin-left: 0.75rem;">
            <div class="container mt-3 pt-2" style="overflow: auto; height: 50vh;">
                <div class="row row-cols-1 row-cols-md-3 g-4 link-container">
                    {% for link in links %}
                    {{ render_link(link) }}
                    {% endfor %}
                </div>
            </div>
            <div class="text-end mb-5">
                <button class="position-relative btn btn-primary mt-2" data-bs-toggle="modal"
                    data-bs-target="#createLinkModal">Créer un lien</button>
            </div>
            {% if current_user.id_Role == 1 or current_user.id_Role == 2 %}
            <h3 class="text-center">Gestion des utilisateurs</h3>
            <input type="text" id="searchUser" class="form-control mb-1" placeholder="Rechercher un utilisateur"
                style="border-radius: 50px; padding: 5px 10px; width: 25%; float: left; margin-left: 0.75rem;">
            <div class="container mt-3 mb-4 pt-2" style="height: 50vh; overflow: auto;">
                {% for user in users %}
                {{ render_user(user) }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if current_user.id_Role == 1 or current_user.id_Role == 2 %}
<div class="modal fade" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createFolderModalLabel">Créer un classeur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="folderName" class="form-label">Nom du classeur</label>
                        <input type="text" class="form-control" id="folderName" required>
                    </div>
                    <div class="mb-3">
                        <label for="parentFolder" class="form-label">Classeur parent</label>
                        <select class="form-control" id="parentFolder">
                            <option value="0">Aucun</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="folderPriority" class="form-label">Priorité d'affichage du classeur</label>
                        <input type="number" class="form-control" id="folderPriority" required min="1" step="1"
                            max="2147483646">
                    </div>
                    <div class="mb-3">
                        <label for="folderColor" class="form-label">Couleur du classeur</label>
                        <input type="color" class="form-control" id="folderColor" required>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" id="createFolderButton">Créer le classeur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modifyFolderModal" tabindex="-1" aria-labelledby="modifyFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyFolderModalLabel">Modifier un classeur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="existingFolder" class="form-label">Classeur à modifier</label>
                        <select class="form-control" id="existingFolder">
                            <option value="0">Aucun</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="folderName" class="form-label">Nom du classeur</label>
                        <input type="text" class="form-control" id="folderName" required>
                    </div>
                    <div class="mb-3">
                        <label for="parentFolder" class="form-label">Classeur parent</label>
                        <select class="form-control" id="parentFolder">
                            <option value="0">Aucun</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="folderPriority" class="form-label">Priorité d'affichage du classeur</label>
                        <input type="number" class="form-control" id="folderPriority" required min="1" step="1">
                    </div>
                    <div class="mb-3">
                        <label for="folderColor" class="form-label">Couleur du classeur</label>
                        <input type="color" class="form-control" id="folderColor" required>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" id="modifyFolderButton">Modifier le
                            classeur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteFolderModal" tabindex="-1" aria-labelledby="deleteFolderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFolderModalLabel">Supprimer un classeur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="existingFolder" class="form-label
                            ">Classeur à supprimer</label>
                        <select class="form-control" id="existingFolderDelete">
                            <option value="0">Aucun</option>
                        </select>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-danger" id="deleteFolderButton">Supprimer le
                            classeur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="modal fade" id="createLinkModal" tabindex="-1" aria-labelledby="createLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createLinkModalLabel">Créer un lien</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="linkName" class="form-label">Nom du lien</label>
                        <input type="text" class="form-control" id="linkName" required>
                    </div>
                    <div class="mb-3">
                        <label for="linkDescription" class="form-label">Description du lien</label>
                        <input type="text" class="form-control" id="linkDescription">
                    </div>
                    <div class="mb-3">
                        <label for="linkURL" class="form-label">URL du lien</label>
                        <input type="url" class="form-control" id="linkUrl" required>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" id="createLinkButton">Créer le lien</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="dropdown position-fixed bottom-0 end-0 m-3 d-none" id="actionsDropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="actionsMenu" data-bs-toggle="dropdown"
        aria-expanded="false">
        Actions
    </button>
    <ul class="dropdown-menu" aria-labelledby="actionsMenu">
        <li class="dropdown-item text-dark" id="actionDownload" style="cursor: pointer;">Télécharger les éléments
            sélectionnés</li>
    </ul>
</div>
{% if current_user.id_Role == 1 %}
<button id="verifyIndexButton" class="btn btn-danger position-fixed bottom-0 start-0 m-3">Vérifier l'intégrité<br>de
    l'indexation</button>
{% endif %}
{% include 'components/preview.html' %}
{% endblock %}