.dossier {
    display: flex;
    align-items: center;
}

.fichier-input-folder, .fichier-input-file {
  padding: 0.2rem;
  border: 1px solid white;
  margin: 0.2rem;
  display: inline-block;
  cursor: pointer;
}

.dossier {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 #progress-bar-container {
  width: 100%; 
  background-color: #f3f3f3;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

#progress-bar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
}