.dossier {
  display: flex;
  align-items: center;
}

.fichier-input-folder, .fichier-input-file {
padding: 0.2rem;
border: 1px solid white;
margin: 0.2rem;
display: inline-block;
cursor: pointer;
}

.dossier {
display: flex;
align-items: center;
justify-content: space-between;
}

#progress-bar-container {
width: 100%; 
background-color: #f3f3f3;
position: fixed;
bottom: 0;
z-index: 1;
}

#progress-bar {
width: 0%;
height: 30px;
background-color: #4CAF50;
text-align: center;
}


.utilisateur {
    border: 2px solid #004F8A;
    border-radius: 0.5rem;
    color: black;
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.utilisateur p{
    margin: 5px;
  
}

.utilisateur-container {
    height: 15rem;
    overflow-y: scroll;
}

.retirer {
    background-color: #ff0000;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 7px;
}

.retirer:hover {
    background-color: #ff6666;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-top: 7px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f32121;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px; 
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #21f32c;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21f32c;
  }

.bouton-utilisateur {
    display: flex;
    justify-content: center;
    margin: 5px;
}