main{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    border-radius: .5rem;
    overflow: hidden;
    align-items: center;
}

form.page_connexion{
    width: 35rem;
    background-color: #004F8A;
    color: white;
}

form.page_inscription{
    width: 25rem;
    border: .2rem solid #004F8A;
    color: #004F8A;
}

form h1{
    text-align: center;
    padding: 1rem;
    margin-top: 0;
}

.page_connexion>input{
    width: 80%;
    padding: .5rem 2%;
    margin: 0 0 1rem  0;
    border-radius: .5rem;
    border: none;
}

.page_inscription input{
    width: 90%;
    padding: .5rem 2%;
    margin: 0 0 1rem  0;
    border-radius: .5rem;
    border: none;
    size: 10rem;
    background-color: #004F8A30;
}

.page_connexion input[type="submit"]{
    background-color: white;
    color: #004F8A;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    width: 30%;
}

.page_inscription input[type="submit"]{
    background-color: #004F8A;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    width: 30%;
}

form a{
    color: #EA4E4E;
    text-align: right;
    text-decoration: none;
    margin-top: 5rem;
    border: none;
    background-color: #004F8A;
    cursor: pointer;
}

form a:hover{
    text-decoration: underline;
}

.mdp_oublie{
    position: fixed;
    opacity: 100%;
    top: 25%;
    left: 15%;
    height: 40%;
    color: white;
    background-color: #004F8A;
    border: .2rem solid white;
}

.mdp_oublie input{
    width: 90%;
    padding: .5rem 2%;
    margin: 0 0 1rem  0;
    border-radius: .5rem;
    border: none;
}

.mdp_oublie input[type="submit"]{
    background-color: #EA4E4E;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
}

.mdp_oublie_hidden{
    position: fixed;
    top: 100%;
    left: 100%;
    opacity: 0;
}

.mdp_oublie a{
    margin: 0;
}