body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.category_container {
    display: flex;
    flex-direction: column;
}

.category_list_container {
    min-width: 70vw;
    flex-basis: 100%;
    background-color: #F0F0F0;
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

.category_list_container li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    background-color: #FFFFFF;
    border : 1px solid #000000;
    padding: 0.5rem;
}

.category_list_container ul {
    padding: 0 1rem 0 1rem;
}

.category_list_container li:hover {
    background-color: #EA4E4E;
}

.main_container {
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    border: 3px solid #EA4E4E;
    padding: 1rem;
    height: 70vh;
}

.main_container h2 h3{
    margin: 1rem 0 1rem 0;
}

.edit_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1vh;
}

.edit_button_container p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.edit_button_container button {
    color: #FFFFFF;
    background-color: #004F8A;
    border-radius: 5rem;
    font-size: 1rem;
    padding: 0.1rem 3rem 0.1rem 3rem;
}

.edit_button_container button:hover {
    color: #004F8A;
    background-color: #FFFFFF;
}