body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.main_container {
    margin: 1rem;
}

.tags_list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;
    padding: 0;
}

.tags_container {
    display: flex;
    flex-direction: column;
}

.tags_list li {
	color: #004F8A;
	background-color: #FFFFFF;
	border-radius: 5rem;
	padding: 0.1rem 2rem 0.1rem 2rem;
    cursor: pointer;
}

.tags_list li:hover {
    background-color: #EA4E4E;
    color: #FFFFFF;
}

.tags_list_container {
    max-width: 20vw;
    min-width: 20vw;
    height: 60vh;
    background-color: #F0F0F0;
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

.category_container {
    display: flex;
    flex-direction: column;
}

.category_list_container {
    min-width: 20vw;
    max-width: -webkit-fill-available;
    height: 60vh;
    background-color: #F0F0F0;
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

.category_list_container li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    background-color: #FFFFFF;
    border : 1px solid #000000;
    padding: 0.5rem;
}

.category_list_container ul {
    padding: 0 1rem 0 1rem;
}

.category_list_container li:hover {
    background-color: #EA4E4E;
}

.file_container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
    border: 3px solid #EA4E4E;
    padding: 1rem;
    height: 62vh;
}

.file_container h2 h3{
    margin: 1rem 0 1rem 0;
}

.file_object {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 50vh;
}

.add_tag_form {
    display: flex;
}

.add_tag_form input {
    width: -webkit-fill-available;
}

#validate_button, #cancel_button {
	color: #FFFFFF;
	background-color: #004F8A;
	border-radius: 5rem;
	font-size: 1.5rem;
	padding: 0.1rem 3rem 0.1rem 3rem;
}

#validate_button:hover, #cancel_button:hover {
	color: #004F8A;
	background-color: #FFFFFF;
}

.button_container {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem 0 1rem;
}

.edit_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1vh;
}

.edit_button_container p {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.edit_button_container button {
    color: #FFFFFF;
    background-color: #004F8A;
    border-radius: 5rem;
    font-size: 1rem;
    padding: 0.1rem 3rem 0.1rem 3rem;
}

.edit_button_container button:hover {
    color: #004F8A;
    background-color: #FFFFFF;
}
