.categorie{
    color: #ffffff;
	background-color: #004F8A;
	border-radius: 5rem;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 0.1rem 3rem 0.1rem 3rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-right: 1rem;
}

#sec_categorie {
	display: flex;
	flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#title_fav h2 {
    color: #ffffff;
	background-color: #004F8A;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.fichier {
    display: flex;
    border: solid 0.1rem #004F8A;
    margin: 0.2rem 0.5rem 0rem 0.5rem;
}

#bouton_fichier {
	text-decoration: none;
	color: black;
    flex-basis: 100%;
	margin-top: 1rem;
	margin-left: 1rem;
	font-weight: bold;
}

#bouton_fichier:hover {
	text-decoration: underline;
}

#bouton_telechargement {
	margin-top: 1rem;
	margin-right: 1rem;
}

.fichier p {
	margin-right: 2rem;
}

#scroller {
    overflow-y: scroll;
	height: 48vh;
}

.slide {
	animation: slide-right 0.5s cubic-bezier(1,-0.43, 0.68, 0.57) infinite alternate both;
}

@keyframes slide-right {
  0% {
	transform: translateY(0);
  }
  100% {
	transform: translateY(1px);
  }
}

@media only screen and (max-width: 1000px) {
    .categorie{
        font-size: 2.5rem;
		margin-left: 3rem;
    }

	#bouton_fichier{
		font-size: 2.5rem;
		margin-top: 1.5rem;
	}

	.fichier p {
		font-size: 2.5rem;
		margin-top: 1.5rem;
	}

	#scroller {
		height: 60vh;
	}

	.svg_home {
		width: 3rem;
		height: 3rem;
	}

	#bouton_telechargement {
		margin-top: 1.3rem;
	}
}

@media only screen and (max-width: 535px) {
	.categorie{
        font-size: 1.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: 2rem;
		margin-right: 0rem;
    }

	#bouton_fichier{
		font-size: 1rem;
		margin-top: 1rem;
	}

	.fichier p {
		font-size: 1rem;
		margin-top: 1rem;
	}

	#scroller {
		height: 50vh;
	}

	.svg_home {
		width: 1.5rem;
		height: 1.5rem;
	}

	#bouton_telechargement {
		margin-top: 1rem;
	}
}