body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

.main_container {
    overflow-y: scroll;
    max-height: 65vh;
    margin: 1rem 1rem 0 1rem;
    border-bottom: 1px solid #000000;
}

.tags_list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;
    padding: 0;
}

.tags_container {
    display: flex;
    flex-direction: column;
}

.tags_list li {
	color: #004F8A;
	background-color: #FFFFFF;
	border-radius: 5rem;
	padding: 0.1rem 2rem 0.1rem 2rem;
    cursor: pointer;
}

.tags_list li:hover {
    background-color: #EA4E4E;
    color: #FFFFFF;
}

.tags_list_container {
    max-width: 20vw;
    min-width: 20vw;
    height: 36vh;
    background-color: #F0F0F0;
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

.category_container {
    display: flex;
    flex-direction: column;
}

.category_list_container {
    min-width: 20vw;
    max-width: -webkit-fill-available;
    height: 50vh;
    background-color: #F0F0F0;
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

.category_list_container li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    background-color: #FFFFFF;
    border : 1px solid #000000;
    padding: 0.5rem;
}

.category_list_container ul {
    padding: 0 1rem 0 1rem;
}

.category_list_container li:hover {
    background-color: #EA4E4E;
}

.file_container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
    border: 3px solid #EA4E4E;
    padding: 1rem;
    height: 50vh;
}

.file_container h2 h3{
    margin: 1rem 0 1rem 0;
}

.file_object {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 40vh;
}

.add_tag_form {
    display: flex;
}

.add_tag_form input {
    width: -webkit-fill-available;
}

#validate_button, #cancel_button {
	color: #FFFFFF;
	background-color: #004F8A;
	border-radius: 5rem;
	font-size: 1.5rem;
	padding: 0.1rem 3rem 0.1rem 3rem;
}

#validate_button:hover, #cancel_button:hover {
	color: #004F8A;
	background-color: #FFFFFF;
}

.button_container {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem 0 1rem;
}

@media only screen and (max-width: 1000px) {
    .file_container {
        display: grid;
        
    }

    .file_header {
        height: 10%;
        grid-row: 1;
        grid-column: 1 / 3;
    }
    .c

    .tags_container {
        grid-row: 2;
        grid-column: 1;
        max-width: 45vw;
        min-width: 45vw;
        margin-right: 2vw;
    }

    .category_container {
        grid-row: 2;
        grid-column: 2;
        max-width: 45vw;
        min-width: 45vw;
        min-height: 30vh;
    }

    .tags_list_container {
        max-width: 45vw;
        min-width: 45vw;
    }
    
    .file_object {
        width: 80vw;
        height: 80vh;
    }
    .button_container {
        flex-direction: column;
    }

    .main_container {
        overflow-y: auto;
        max-height: 80vh;
    }
    .file_container{
        overflow: scroll;
    }
}