.tabs_multivue{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 80vw;
    padding-left: 0;
    border-radius: 5rem;
}

.not_selected,.is_selected{
    border-style: solid;
    border-color: #004F8A;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid #004F8A;
}

.not_selected:hover,.is_selected{
    border-color: #FFFFFF;
}

.not_selected>a:hover{
    background-color: #004F8A;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.not_selected>a{
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    color: #004F8A;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .tabs_multivue{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 95vw;
        padding-left: 0;
    }
}

.is_selected>a{
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #004F8A;
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-decoration: none;
}

.tabs_multivue>li>a{
    white-space: nowrap;
}

h2{
    display: none;
}