body {
	margin: 0;
}

.notification {
    flex-basis: 51%;
    background-color: #004F8A;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;

}
.notif{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.texte{
    flex-basis: 99%;
}

.supprimer{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
