body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow: hidden;
}

.dropzone {
    margin-top: 1rem;
    overflow-y: scroll;
    height: 65vh;
    border: 4px dashed #EA4E4E !important;
}

.dropzone .dz-message {
    font-size: 2rem;
    color: #EA4E4E;
    font-family: 'Poppins', sans-serif;
}

#upload_button {
	color: #FFFFFF;
	background-color: #004F8A;
	border-radius: 5rem;
	font-size: 1.5rem;
	padding: 0.1rem 3rem 0.1rem 3rem;
}

#upload_button:hover {
	color: #004F8A;
	background-color: #FFFFFF;
}

.button_container {
    display: flex;
    justify-content: space-around;
    margin: 1rem 1rem 0 1rem;
}