<!DOCTYPE html>
<html lang="fr">
    <head>
        <script type="module" src="{{ url_for('static', filename='js/administration.js') }}"></script>
    </head>
<body>
    <div class="administration-container">
        {% for dossier in dossiers %}
            <div class="dossier" draggable="true" style="background-color: {{ dossier.couleur_Dossier }}; font-size: 2rem;">
                <span contenteditable="true">{{ dossier.nom_Dossier }}</span> <span>({{ dossier.priorite_Dossier }})</span>
                <span class="dossier-id" style="display: none;">{{ dossier.id_Dossier }}</span>
            </div>
        {% endfor %}
    </div>
    <div class="dossier-placeholder hidden" style=".hidden { display: none; }"></div>
</body>
</html>