<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <title>{{ title }}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header class="d-flex flex-row">
        <a href="{{ url_for('home.home') }}" class="text-decoration-none">
            <div class="logo-container d-flex flex-row">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="NRBC" class="logo-img">
                <h1 class="logo-text text-center align-self-center honk-title">PINPON</h1>
            </div>
        </a>
        <nav class="navbar">
            <ul class="nav-item">
                {% if is_authenticated %}
                <li>
                    <a href="{{ url_for('desktop.desktop') }}" id="desktop" class="h4 text-decoration-none d-flex">Bureau
                        <span id="number"></span>
                    </a>
                </li>
                {% if is_admin %}
                <li>
                    <a href="{{ url_for('administration.administration') }}" class="h4 text-decoration-none">Administration</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ url_for('profil.profil') }}" class="h4 text-decoration-none">Profil</a>
                </li>
                <li>
                    <a href="{{ url_for('notifications.notifications') }}">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            {% if has_notifications %}
                                <style>@keyframes notify {0%,to {transform: rotate(0deg);transform-origin: top center}10%,90% {transform: rotate(2deg)}20%,40%,60% {transform: rotate(-6deg)}30%,50%,70% {transform: rotate(6deg)}80% {transform: rotate(-2deg)}}</style>
                            {% endif %}
                                <g style="animation:notify 1s cubic-bezier(.455,.03,.515,.955) both infinite" stroke-width="1.5">
                                <path fill="#FFFFFF" stroke="#0A0A30" d="M12.29 3.398a5 5 0 00-5 5v2c0 .758-.441 1.505-1.005 2.012a3 3 0 002.005 5.232h8a3 3 0 002.006-5.232c-.564-.507-1.005-1.254-1.005-2.012v-2a5 5 0 00-5-5z"/>
                                <path stroke="#ecb900" stroke-linecap="round" d="M14.68 20.312l-.042.01a9.713 9.713 0 01-4.67-.01"/>
                            </g>
                        </svg>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('login.login') }}" class="h4 text-decoration-none">Connexion</a>
                </li>
                <li>
                    <a href="{{ url_for('register.register') }}" class="h4 text-decoration-none">Inscription</a>
                </li>
                <li class="d-none"></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>