<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="utf-8">
            <meta name="connexion">
            <link rel="stylesheet" href="{{ url_for('static',filename='css/connexion.css')}}">
            <script src="{{ url_for('static',filename='js/mdpOubliePopUp.js') }}"></script>
            <title>Connexion</title>
        </head>
        <body> 
            {% include "components/headerLogin.html" %}
            <main>
                <form method="POST" class="page_connexion" action="">
                    {{ form_login.hidden_tag() }}
                    <h1>Connexion</h1>
                    <h3>Email</h3>
                    {{ form_login.mail() }}
                    <h3>Mot de passe</h3>
                    {{ form_login.mdp() }}
                    {{ form_login.submit }}
                    <br>
                    <a id="mdp_oublie_button">Mot de passe oublié ?</a>
                </form>
                <form method="POST" class="page_inscription" action="">
                    <h1>Inscription</h1>
                    {{ form_inscription.hidden_tag() }}
                    <p>Nom</p>{{ form_inscription.nom() }}
                    <p>Prénom</p>{{ form_inscription.prenom() }}
                    <p>Email</p>{{ form_inscription.mail }}
                        {% for error in form_inscription.mail.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                    <p>Téléphone</p>{{ form_inscription.telephone }}
                        {% for error in form_inscription.telephone.errors %}
                        <p class="error">{{ error }}</p>
                        {% endfor %}
                    {{ form_inscription.submit }}
                </form>
                <form method="POST" class="mdp_oublie_hidden" id="mdp_oublie_hidden">
                    {{ form_mdp.hidden_tag() }}
                    <h1>Mot de passe oublié</h1>
                    <p>Email</p>{{ form_mdp.mail(size=50) }}
                    {{ form_mdp.submit }}
                    <a id="mdp_oublie_button2">Annuler</a> 
                </form>
            </main>
        </body>