<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaBottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}" />
        <script type="module" src="{{ url_for('static', filename='js/header.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/file.js') }}"></script>
        <title>{{ fichier.nomFichier }}</title>
</head>
<body>
    {% include "components/header.html" %}
    {% include "components/bottomHeader.html" %}
    <main class="main_container">
        <div class="file_container">
            <div class="file_header">
                <h2>{{ fichier.nomFichier }} ({{ fichier.idFichier }})</h2>
                <object class="file_object" data="data:application/pdf;base64,{{ fichier.data.decode('utf-8') }}" type="application/pdf">
                    <p>Impossible d'afficher le fichier</p>
                </object>
            </div>
            <div class="file_info">
                <div class="tags_info">
                    <h3>Tag(s) de recherche :</h3>
                    <div class="tags_container">
                        <ul class="tags_list">
                            {% for tag in liste_tags %}
                                <li>{{ tag.nomTag }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <ul class="file_options">
                    <li><button onclick="window.location.href='{{ url_for('history', id_fichier=fichier.idFichier) }}';">Historique</button></li>
                    <li><button id="download">Télécharger</button></li>
                    <li><button id="add_to_multiview">Ajouter à la MultiVue</button></li>
                    <li class="remove_from_multiview"><button id="remove_from_multiview">Supprimer de la MultiVue</button></li>
                    <li><button id="add_to_favourites">Ajouter aux favoris</button></li>
                    <li class="remove_from_favourites"><button id="remove_from_favourites">Supprimer des favoris</button></li>
                    <li><button id="report">Signaler</button></li>
                </ul>
            </div>
        </div>
    </main>
    <div class="report_popup">
        <h4>Signaler : {{ fichier.nomFichier }}</h4>
        <form class="report_form" role="form" method="post" action="javascript:void(0);">
            <textarea name="message" placeholder="Raison du signalement" id ="message" rows="20" cols="50"></textarea>
            <div class="report_form_button">
                <input type="button" value="Annuler" id ="cancel_report"/>
                <input type="submit" value="Envoyer" id="send_report"/>
            </div>
        </form>
    </div>
</body>
</html>