<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="{{ url_for('static', filename='js/boutonsFichier.js') }}"></script>
        <script src="{{ url_for('static', filename='js/boutonRecherche.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
        <title>Accueil</title>
    </head>
    {% include "components/header.html" %}
    <body>
        <div class="barre_de_recherche">
            <form class="recherche" role="search" method="POST" action="{{ url_for('recherche') }}">
                <input type="search" name="search" placeholder="Rechercher ..." aria-label="Rechercher ..." id="barreRecherche">
                <button type="submit"><img src="{{url_for('static', filename='img/loupe.png')}}" alt="loupe" class="loupe"></button>
            </form>
            <div class="buttons">
                <div>
                    <button id="buttonRecherche2">&</button>
                    <button id="buttonRecherche3">|</button>
                </div>
                <section id="infoButton"><img src="{{url_for('static', filename='img/info.png')}}" alt="info" class="info"></section>
                <section id="infoBox" class="infoBoxClosed">
                    <h2>Fonctionnement de la barre de recherche</h2>
                    <p>& : Cet élément sert à faire une recherche où les deux tags sont présents.</p>
                    <p>| : Cet élément sert à rechercher les fichiers où l'un des deux tags est présent.</p>
                </section>
            </div>
        </div>
        <form method="POST" action="{{ url_for('recherche') }}" class="recherches_precedentes">
            <h2>Recherches Précédentes</h2>
            {% for recherche in liste_recherche %}
                <div>
                    <input type="hidden" name="search" value="{{ recherche.champ_Recherche }}">
                    <button type="submit"><i>{{ recherche.date_Heure_Recherche.strftime('%d/%m/%Y %H:%M') }} </i> {{ recherche.champ_Recherche}}</button>
                </div>
            {% endfor %}
        </form>
        <div class="fav_box">
            <section class="favoris">
            <h2>Favoris</h2>
            <div class="favoris_box">
                {% for fichier in liste_fav %}
                <div class="fichier" id="{{ fichier.id_Fichier }}">
                    <a class="bouton_fichier" id="{{ fichier.id_Fichier }}">{{ fichier.nom_Fichier }}</a>
                    <div class="images_box">
                        <img src="{{url_for('static', filename='img/telechargement.png')}}" alt="telechargement" class="telechargement" id="{{ fichier.id_Fichier }}">
                        <img src="{{url_for('static', filename='img/moins.png')}}" alt="multiview" class="multiview" id="id {{ fichier.id_Fichier }}">
                        <img src="{{url_for('static', filename='img/etoile_pleine.png')}}" alt="etoile" class="etoile" id="{{ fichier.id_Fichier }}" is-fav="true">
                    </div>
                    <span id="type_{{ fichier.id_Fichier }}" style="display: none;">{{ fichier.extension_Fichier }}</span>
                </div>
                {% endfor %}
            </div>
            </section>
            <section class="preview_big_box">
                <h2>Prévisualisation</h2>
                <div id="preview_box"></div>
            </section>
        </div>
    </body>
</html>