<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaBottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/multivue.css') }}" />
        <script type="module" src="{{ url_for('static', filename='js/header.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/file.js') }}"></script>
        <title>MultiVue ({{fichier_selected.nomFichier}})</title>
    </head>
    <body>
        {% include "components/header.html" %}
        {% include "components/bottomHeader.html" %}
        <main class="main_container">
            
            <div class="file_container">
                <div class="file_header">
                    <ul class="tabs_multivue">
                        {% for index in range(0,liste_fichiers|length)%}
                            {% if liste_fichiers[index].idFichier == index_selected %}
                                <li class="is_selected"><a href="{{ url_for('multivue', file_index=liste_fichiers[index].idFichier)}}">{{ liste_fichiers[index].nomFichier }} ({{ liste_fichiers[index].idFichier }})</a></li>
                            {% else %}
                                <li class="not_selected"><a href="{{ url_for('multivue', file_index=liste_fichiers[index].idFichier)}}">{{ liste_fichiers[index].nomFichier }} ({{ liste_fichiers[index].idFichier }})</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>       
                    {% if fichier_selected %}
                        {% set lower_file_name = fichier_selected.nomFichier.lower() %}
                        {% set mime_types = {
                            '.pdf': 'application/pdf',
                            '.png': 'image/png',
                            '.jpg': 'image/jpg',
                            '.jpeg': 'image/jpeg',
                            '.gif': 'image/gif',
                            '.txt': 'text/plain'
                        } %}
                        {% set mime_type = mime_types.get('.'+lower_file_name.split('.')[-1], None) %}
                        {% if mime_type %}
                            {% if mime_type.startswith('image') %}
                                <img class="file_object" src="data:{{ mime_type }};base64,{{ fichier_selected.data.decode('utf-8') }}" alt="Impossible d'afficher le fichier">
                            {% else %}
                                <object class="file_object" data="data:{{ mime_type }};base64,{{ fichier_selected.data.decode('utf-8') }}" type="{{ mime_type }}">
                                    <p>Impossible d'afficher le fichier</p>
                                </object>
                            {% endif %}
                        {% else %}
                            <p>Apperçu non disponible pour ce type de fichier</p>
                        {% endif %}
                    {% else %}
                        <object class="file_object" data="data:application/pdf;base64," type="application/pdf">
                            <p>Impossible d'afficher le fichier</p>
                        </object>
                    {% endif %}
                </div>
                {% if liste_fichiers|length > 0 %}
                    <div class="file_info">
                        <div class="tags_info">
                            <h3>Tag(s) de recherche :</h3>
                            <div class="tags_container">
                                <ul class="tags_list">
                                    {% for tag in liste_tags %}
                                        <li>{{ tag.nomTag }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <ul class="file_options">
                            <li><h2>({{ index_selected }})</h2></li>
                            {% if is_admin %}
                                <li><button onclick="window.location.href='{{ url_for('edit_file', id_fichier=index_selected) }}';">Modifier</button></li>
                            {% endif %}
                            <li><button onclick="window.location.href='{{ url_for('history', id_fichier=index_selected) }}';">Historique</button></li>
                            <li><button id="download">Télécharger</button></li>
                            <li><button id="add_to_multiview"><span>Ajouter à la MultiVue</span></button></li>
                            <li class="remove_from_multiview"><button id="remove_from_multiview" ><span>Supprimer de la MultiVue</span></button></li>
                            <li><button id="add_to_favourites">Ajouter aux favoris</button></li>
                            <li class="remove_from_favourites"><button id="remove_from_favourites">Supprimer des favoris</button></li>
                            <li><button id="report">Signaler</button></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </main>
        <div class="report_popup">
            <h4>Signaler : {{ fichier_selected.nomFichier }}</h4>
            <form class="report_form" role="form" method="post" action="javascript:void(0);">
                <textarea name="message" placeholder="Raison du signalement" id ="message" rows="20" cols="50"></textarea>
                <div class="report_form_button">
                    <input type="button" value="Annuler" id ="cancel_report"/>
                    <input type="submit" value="Envoyer" id="send_report"/>
                </div>
            </form>
        </div>
    </body>
</html>