{% extends "baseUser.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}" />
{% endblock %}
{% block content %}
<div class="container">
    <ul class="notif">
        {% for notification in liste_n %}
            <li class="notification">
                <div class="texte">
                    <h3>{{ notification.typechangement }}</h3>
                    <p>Le {{ notification.dateN }} , le fichier {{ notification.idNotification }} a été {{ notification.typechangement }}</p>
                    <h4> Raison : </h4>
                    <p>{{ notification.raison }}</p>
                    <p>Precisions : {{ notification.precision }}</p>
                </div>
                <input class="supprimer" type="button" value="X">
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}