<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <head>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}" /> 
            <script src="{{url_for('static', filename='js/notification.js')}}"></script> 
        </head>
        {% include "components/header.html" %}
    <body>
<div class="container">
    <ul class="notif">
        {% for notification, utilisateur in liste_notifications_inscription %}
    <li class="notification" id="notification{{ notification.id_Notification }}">
        <div class="contenue">
            <p>{{ notification.typeNotification }}</p>
            <p>{{ notification.date_Heure_Notification }}</p>
            <p>Nom de l'utilisateur : {{ utilisateur.nom_Utilisateur }}</p>
            <p>Prénom de l'utilisateur : {{ utilisateur.prenom_Utilisateur }}</p>
            <select name="role" id="role{{ notification.id_Notification }}">
                {% for role in roles %}
                    <option value="{{ role.nom_Role }}">{{ role.nom_Role }}</option>
                {% endfor %}
            </select>
            <button class="ok" id="{{ notification.id_Notification }}" user-id="{{ utilisateur.id_Utilisateur }}"  data-notification="{{ notification.id_Notification }}">Accepter</button>
            <button class="non" id="non" user-id="{{ utilisateur.id_Utilisateur }}"  data-notification="{{ notification.id_Notification }}">Refuser</button>
        </div>
    </li>
{% endfor %}
    </ul>
</div>
</body>
</html>