<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaBottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notifications.css') }}" />  
        <script type="module" src="{{ url_for('static', filename='js/notifications.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/header.js') }}"></script>
        <title>Notification(s)</title>
    </head>
<body>
{% include 'components/header.html' %}
{% include 'components/bottomHeader.html' %}
<div class="container">
    <ul class="notif">
        {% for notification,fichier,date in liste_notifications %}
            <li class="notification" id = "notification">
                <span class="file_id" style="display: none;">{{ fichier.idFichier }}</span>
                <span class="notification_id" style="display: none;">{{ notification.idNotification }}</span>
                <span class="date_id" style="display: none;">{{ date.idDate }}</span>
                <div class="texte">
                    <h3>{{ notification.typeChange }} sur <a style="color: white;" href="{{ url_for('file', id_fichier=fichier.idFichier) }}">{{ fichier.nomFichier }}</a> ({{ fichier.idFichier }}) le {{ date.laDate.strftime('%d/%m/%Y') }} à {{ date.laDate.strftime('%H:%M') }}</h3>
                    <p>{{ notification.texteNotification }}</p>
                    <h4> Raison : </h4>
                    <p>{{ notification.raisonNotification }}</p>
                </div >
                <bouton class="supprimer" type="button" id="delete_user_notification">X</bouton>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>