<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaBottomHeader.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}" />
        <script type="module" src="{{ url_for('static', filename='js/header.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/upload.js') }}"></script>
        {{ dropzone.load_css() }}
        <title>{{ nom_page }}</title>
</head>
<body>
    {% include "components/header.html" %}
    {% include "components/bottomHeader.html" %}
    <main>
        {{ dropzone.create(action='upload') }}
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
        <div class="button_container">
            <button id="upload_button" onclick="window.location.href='{{ url_for('manageFiles') }}';">Réviser les fichiers un par un</button>
            <button id="auto_upload_button">Réviser les fichiers automatiquement*</button>
        </div>
        <p>* : Les tags de recherche seront générés automatiquement mais les fichiers seront non catégorisés.</p>
    </main>
</body>
</html>