{% extends "baseUser.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}" />
{% endblock %}
{% block content %}
    <div class="info">
        <ul class="info1">
            <li>
                <p>Identifiant : {{ user.idPompier }}</p>
            </li>
            <li>
                <p>Prénom : {{ user.prenomPompier }}</p>
            </li>
            <li>
                <p>Nom : {{ user.nomPompier }}</p>
            </li>       
        </ul>
        <object data="data:image/jpeg;base64,{{ user.photoPompier.decode('utf-8') }}" type="image/jpeg"></object>
    </div>
    <ul class="info2">
        <li>
            <p>Email : {{ user.emailPompier }}</p>
        </li>
        <li>
            <p>Téléphone : {{ user.telephonePompier }}</p>
        </li>          
        <li>
            <p>Mot de Passe : <span id="mot-de-passe">{{ user.mdpPompier }}</span></p>
        </li>
    </ul>
    <div class="bouton">
        <input class="modifier" type="button" value="Modifier les informations" onclick="location.href='{{ url_for('editUser') }}'">
        <input class="modifier" type="button" value="Se déconnecter" onclick="location.href='{{ url_for('logout') }}'">
    </div>
    <script>
        var motDePasseElement = document.getElementById('mot-de-passe');
        motDePasseElement.textContent = '●'.repeat(motDePasseElement.textContent.length);
    </script>
{% endblock %}